@use "./App";
@use "./Components/NavBar/NavBar";
@use "./Components/NavBar/InnerNav";
@use "./Components/Console/Console";
@use "./Components/TwilioCreds/TwilioCreds";
@use "./Components/Numbers/Numbers";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
