@use "./App";
@use "./Components/NavBar/NavBar";
@use "./Components/NavBar/InnerNav";
@use "./Components/Console/Console";
@use "./Components/TwilioCreds/TwilioCreds";
@use "./Components/Numbers/Numbers";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.grid {
  display: grid;
  grid-template-columns: 15vw 85vw;
  grid-template-rows: 100vh;
}

.tableDiv {
  display: flex;
  justify-content: center;
  #demTable {
    border: 1px solid #b3adad;
    border-collapse: collapse;
    padding: 9px;
  }
  #demTable th {
    border: 1px solid #b3adad;
    padding: 9px;
    background: #f0f0f0;
    color: #313030;
  }
  #demTable td {
    border: 1px solid #b3adad;
    text-align: center;
    padding: 9px;
    background: #ffffff;
    color: #313030;
  }
}
